<h1>Login</h1>

<form method="POST" action="/login">
<div>
        <label for="usernameInput">username</label>
        <input id="usernameInput" type="text" name="username" />
    </div>

    <div>
        <label for="passwordInput">password</label>
        <input id="passwordInput" type="password" name="password">
    </div>

    <button type="submit">submit</button>
</form>

<a href="/register">register</a>